body,div,p,dl,dt,dd,ul,h1,h2,h3{padding:0;margin:0;}
html{font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
html,body{height:100%;font-size:calc(100vw/37.5);-webkit-user-select:none;user-select:none;-webkit-overflow-scrolling:touch;}
li{list-style:none;}
img{border:none;-webkit-touch-callout:none;}
table{border-collapse:collapse;border-spacing:0; table-layout:fixed;}
a,button,input,select,textarea{color:inherit;font:inherit;-webkit-tap-highlight-color:transparent;border:none;}
button,input,select,textarea{-webkit-appearance:none;padding:0;margin:0;}
input:focus,textarea:focus,button:focus,select:focus,a:active,a:hover{outline:none;}
a{text-decoration:none;-webkit-touch-callout:none;}
input[type=date]{filter:alpha(opacity=0);background-color:transparent;}
input[type="date"]:before{content:attr(placeholder);color:#A9A9A9;}
input[type="date"].full:before{content:"";}
label{-webkit-tap-highlight-color:transparent;}
i,em{font-style:normal;}
b{font-weight:normal;}

.row{display:table;}.fixed{table-layout:fixed;}
.col{display:table-cell;}
.w{width:100%;}.h{height:100%;}
.w-10{width:10%;}.w-20{width:20%;}.w-30{width:30%;}.w-40{width:40%;}.w-50{width:50%;}.w-60{width:60%;}.w-70{width:70%;}.w-80{width:80%;}.w-90{width:90%;}.w-5{width:5%;}.w-15{width:15%;}.w-25{width:25%;}.w-35{width:35%;}.w-45{width:45%;}.w-55{width:55%;}.w-65{width:65%;}.w-75{width:75%;}.w-85{width:85%;}.w-95{width:95%;}.w-33{width:33.33%;}
.v-m{vertical-align:middle;}.v-t{vertical-align:top;}.v-b{vertical-align:bottom;}
.t-r{text-align:right;}.t-c{text-align:center;}.t-l{text-align:left;}
.p-r{position:relative;}.bs{box-sizing:border-box}
.ib{display:inline-block;}.block{display:block;}
.bold{font-weight:bold;}.normal{font-weight:normal;}
.lh-16{line-height:1.6;}.lh-18{line-height:1.8;}.lh-20{line-height:2;}
.middle:before{content:"";display:inline-block;width:0;height:100%;vertical-align:middle;}

.pd-10{padding:1rem;}.pd-15{padding:1.5rem;}.pd-20{padding:2rem;}
.pt-5{padding-top:0.5rem;}.pt-10{padding-top:1rem;}.pt-15{padding-top:1.5rem;}.pt-20{padding-top:2rem;}
.pb-5{padding-bottom:0.5rem;}.pb-10{padding-bottom:1rem;}.pb-15{padding-bottom:1.5rem;}.pb-20{padding-bottom:2rem;}
.pl-5{padding-left:0.5rem;}.pl-10{padding-left:1rem;}.pl-15{padding-left:1.5rem;}.pl-20{padding-left:2rem;}
.pr-5{padding-right:0.5rem;}.pr-10{padding-right:1rem;}.pr-15{padding-right:1.5rem;}.pr-20{padding-right:2rem;}

.m-5{margin:0 -0.5rem;}
.ml-5{margin-left:0.5rem;}.mr-5{margin-right:0.5rem;}.mt-5{margin-top:0.5rem;}.mb-5{margin-bottom:0.5rem;}
.ml-10{margin-left:1rem;}.mr-10{margin-right:1rem;}.mt-10{margin-top:1rem;}.mb-10{margin-bottom:1rem;}

.fs-0{font-size:0px;}.fs-12{font-size:1.2rem;}.fs-14{font-size:1.4rem;}.fs-16{font-size:1.6rem;}.fs-18{font-size:1.8rem;}
.c-white{color:#fff;}.c-4{color:#444;}.c-6{color:#666;}.c-3{color:#333;}.c-9{color:#999;}
.bg-f5{background:#f5f5f5;}.bg-f{background:#fff;}

/*1px的底部边框线*/
.line{position:relative;}
.line:before{content:"";display:inline-block;width:100%;height:1px;background:#ccc;position:absolute;left:0;bottom:0;}
.line-top:after{content:"";display:inline-block;width:100%;height:1px;background:#ccc;position:absolute;left:0;top:0;}
@media only screen and (-webkit-min-device-pixel-ratio:2) {
  .line:before,.line-top:after{transform:scaleY(0.5);-webkit-transform:scaleY(0.5);}
}
@media only screen and (-webkit-min-device-pixel-ratio:3) {
  .line:before,.line-top:after{transform:scaleY(0.33);-webkit-transform:scaleY(0.33);}
}
/**/
.scale-1px{border:none;background:#f5f5f5;font-size:1.6rem;color:#333;padding:1rem;margin-top:1rem;position:relative;}
.scale-1px:after{content:"";position:absolute;left:0;top:0;width:100%;height:100%;border:1px solid #ccc;box-sizing:border-box;}
@media only screen and (-webkit-min-device-pixel-ratio:2) {
  .scale-1px:after{width:200%;height:200%;transform:scale(0.5);-webkit-transform:scale(0.5);transform-origin:left top;}
}
@media only screen and (-webkit-min-device-pixel-ratio:3) {
  .scale-1px:after{width:300%;height:300%;transform:scale(0.333);-webkit-transform:scale(0.333);transform-origin:left top;}
}
/*触屏效果*/
.tap:hover{background:#f5f5f5;}
/*多行省略号*/
.oneline{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:1.6;}
.twoline{overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;line-height:1.6;}
.threeline{overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp:3;-webkit-box-orient: vertical;line-height:1.6;}
/*右侧图标*/
.right{position:absolute;right:1rem;top:50%;transform:translateY(-50%);}
